/* dashboard | RS PROJECT */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  color: #000;
  padding: 100px;
  transition: background 0.3s, color 0.3s;
}

.main-content {
  padding: 40px;
  transition: margin-left 1.0s ease;
  margin-left: 0;
}

.main-content h1 {
  font-size: 24px;
  text-align: center;
}

body.dark {
  background-color: #1e1e1e;
  color: #fff;
}

body.dark .main-content {
  background-color: #2c2c2c;
}

table {
  width: 100%;
  border-collapse: collapse;
}

body.dark table {
  background-color: #333;
  color: white;
}

.sidebar.expanded {
  width: 200px;
}

body.sidebar-expanded.sidebar-left .main-content {
  transform: translateX(250px); /* تحريك المحتوى إلى اليسار */
  transition: transform 2s ease; /* الانتقال بشكل سلس */
}

.hover-disable-wrapper:hover {
  pointer-events: none;
  opacity: 0.6;
}