/* dashboard | RS PROJECT */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  color: #000;
  padding: 100px;
  transition: background 0.3s, color 0.3s;
}

.main-content {
  padding: 40px;
  transition: margin-left 1.0s ease;
  margin-left: 0;
  border-radius: 2%;
}

.main-content h1 {
  font-size: 24px;
  text-align: center;
}

.sidebar.expanded {
  width: 200px;
}

body.sidebar-expanded.sidebar-left .main-content {
  transform: translateX(250px);
  transition: transform 2s ease;
}

.hover-disable-wrapper:hover {
  pointer-events: none;
  opacity: 0.6;
}

.dash-redirect {
  background-color: #505050;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}
