/* settings | RS PROJECT */

.settings-form, .settings-section {
  margin: 20px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out; /* تأثير التحرك عند التبديل بين الجوانب */
}

.settings-form label, .settings-section label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out; /* تأثير التحرك */
}

.settings-form input, .settings-section select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out; /* تأثير التحرك */
}

.settings-section input[type="checkbox"] {
  width: auto;
  margin-left: 10px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button.reset-btn {
  background-color: #f44336;
}

.main-content h1 {
  margin-bottom: 10px;
}

.main-content p {
  margin-bottom: 20px;
}

body.dark .settings-section,
body.dark .settings-form {
  background: #4e4e4e;
  color: #fff;
}

body.dark .settings-form label,
body.dark .settings-section label {
  color: #ddd;
}

body.dark .settings-form input,
body.dark .settings-section select {
  background-color: #444;
  color: #fff;
  border: 1px solid #666;
}

body.dark button {
  background-color: #388e3c;
}

body.dark button.reset-btn {
  background-color: #c62828;
}
